

@model IEnumerable<CoffeeShopBLL.ModelVMs.Category.CategoryVM>

<link rel="stylesheet" href="~/css/category.css" />

<!-- ================= CATEGORIES ================= -->
<section class="categories">
    <h2>Categories</h2>
    <p class="subtitle">Explore our carefully curated selection of coffee and treats</p>

    <div class="categories-grid">

        <!-- Coffee -->
        <a asp-controller="Product"
           asp-action="Category"
           asp-route-categoryName="Coffee" class="category-card">
            
            <img src="~/images/coffee.jpg" alt="Coffee" />
            <div class="overlay">
                <h3>Coffee</h3>
                <span class="explore">Explore →</span>
            </div>
        </a>

        <!-- Cold Brew -->
        <a asp-controller="Product"
           asp-action="Category"
           asp-route-categoryName="Tea" class="category-card">
            <img src="~/images/tea.jpg" alt="Tea" />
            <div class="overlay">
                <h3>Tea</h3>
                <span class="explore">Explore →</span>
            </div>
        </a>

        <!-- Hot Drinks -->
        <a asp-controller="Product"
           asp-action="Category"
           asp-route-categoryName="Dessert" class="category-card">
            <img src="~/images/dessert.jpg" alt="Dessert" />
            <div class="overlay">
                <h3>Dessert</h3>
                <span class="explore">Explore →</span>
            </div>
        </a>

        <!-- Pastries -->
        <a asp-controller="Product"
           asp-action="Bakery"
           asp-route-categoryName="Bakery" class="category-card">
            <img src="~/images/bakery.jpg" alt="Bakery" />
            <div class="overlay">
                <h3>Bakery</h3>
                <span class="explore">Explore →</span>
            </div>
        </a>
        @* <a asp-controller="Product"
           asp-action="Drinks"
           asp-route-categoryName="Drinks" class="category-card">
            <img src="~/images/drinks.jpg" alt="Drinks" />
            <div class="overlay">
                <h3>Drinks</h3>
                <span class="explore">Explore →</span>
            </div>
        </a> *@

    </div>
</section>

