<form asp-controller="Product" asp-action="Search" method="get" class="d-flex justify-content-end">
    
    <input class="p-2" type="text" name="term" placeholder="Search..." />
    <button class="btn-search rounded" type="submit">Search</button>
</form>
